body {
    overflow-x: hidden;
    background-color: rgb(36, 36, 36);
}

body::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    pointer-events: none;
    content: '';
    z-index: 900;
    transition: 0.2s ease-in-out;
}

body.active::after{
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
}



.estates-navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: #f3c68c;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 2px 10px black;
}

.estates-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    gap: 5px;
}

.estates-logo-container img {
    height: 50px;
    cursor: pointer;
}

.estates-logo-container h1 {
    cursor: pointer;
}

.ri-equalizer-fill {
    margin-right: 50px;
    font-size: 22px;
    cursor: pointer;
}

.estates-navbar-bottom {
    background-color: rgb(36, 36, 36);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 65px;
    color: #f3c68c;
    left: 0;
    display: flex;
    width: 100%;
    height: 65px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 2px 5px rgb(36, 36, 36);
}

.estates-container {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.estate {
    position: relative;
    display: flex;
    flex-direction: column; 
    border-style: none;
    gap: 15px;
    justify-content: center;
    width: 500px;
    height: 600px;
    align-items: center;
    background: transparent;
}

.estate-bottom-part {
    display: flex;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    color: #f3c68c;
}


#estate-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.estate-bottom-part-child-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.estate-bottom-part-child-characteristics {
    display: flex;
    flex-direction: row;
    gap: 7px;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    width: 100%;
    align-items: center;
    padding-left: 5px;
    height: 30px;
}

.estate-bottom-part-child-characteristics::-webkit-scrollbar {
    display: none;
}

#characteristic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 7px;
    background-color: #f3c68c;
    box-shadow: 0px 0px 4px #f3c68c;
    color: #000;
    border-radius: 15px;
    flex-shrink: 0;
    height: 20px;
}

#characteristics-gradient {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    content: '';
    width: 30px;
    background: linear-gradient(to left, black, transparent);
}


.estate-bottom-part-child2 {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    gap: 15px;
}

.estate-bottom-part-child2 button {
    width: 50%;
    background-color: #f3c68c;
    color: #000;
    border-style: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}



#slide-image{
    height: 100%;
}

#swiper-estate {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#estate-posting {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 20px;
    color: #f3c68c;
    background-color: rgb(0, 0, 0);
    z-index: 500;
    padding: 5px;
    font-size: 17px;
    width: 110px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#estate-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    padding: 5px;
    font-size: 17px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 500;
    color: #f3c68c;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#estate-meter {
    text-transform: none;
}