.estates-navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: #f3c68c;
    box-shadow: 0px 2px 5px rgb(36, 36, 36);
}

.estates-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    gap: 5px;
}

.estates-logo-container img {
    height: 50px;
    cursor: pointer;
}

.estates-logo-container h1 {
    cursor: pointer;
}

.ri-equalizer-fill {
    margin-right: 50px;
    font-size: 22px;
    cursor: pointer;
}

.estates-navbar-bottom {
    background-color: rgb(36, 36, 36);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 65px;
    color: #f3c68c;
    left: 0;
    display: flex;
    width: 100%;
    height: 65px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 2px 5px rgb(36, 36, 36);
}

.estates-container {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.estate {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.425);
    gap: 15px;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}