

.section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.section-one {
    background-image: url(https://cdn.wallpapersafari.com/36/80/EKWszP.gif);
    background-position: center;
    background-size: cover;
}

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(3px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.logo-container h1 {
    color: #f3c68c;
}

.login-container {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #f3c68c;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-container .ri-user-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3c68c;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.login-container h1 {
    color : #000;
    font-size: 15px;
    padding-right: 5px;
}

#logo {
    height: 50px;
}

.login-container:hover  {
    background-color: #fce2c0;
    box-shadow: 0px 0px 5px #fce2c0;
    cursor: pointer;
}

.login-container:hover  .ri-user-fill{
    color: #fce2c0;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f3c68c;
    z-index: 2;
}

.bottom-bar h1 {
    font-size: 10px;
    margin-left: 25px;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 25px;
}

.social-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.social-container p {
    font-size: 15px;
}

.swiper-obtainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.swiper {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(2px);
    cursor: pointer;
}

.estates {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estates-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.estates-part1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estates-check {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estates-check h1 {
    font-size: 30px;
    color: #f3c68c;
}

#estates-button {
    padding: 10px 10px;
    background-color: #f3c68c;
    border-style: none;
    border-radius: 3px;
    transition: 0.1s ease-in-out;
}

#estates-button:hover {
    background-color: #fce2c0;
    box-shadow: 0px 0px 5px #fce2c0;
    cursor: pointer;
}

.estates-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estates-part2-filler {
    content: '';
    background-image: url(https://www.freepnglogos.com/uploads/house-png/house-png-home-page-jaymanm-5.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: estates-animation 15s infinite;
}

@keyframes estates-animation {

    0%{
        background-image: url(https://www.freepnglogos.com/uploads/house-png/house-png-home-page-jaymanm-5.png);
    }
    25%{
        background-image: url(https://www.freepnglogos.com/uploads/house-png/house-png-home-page-jaymanm-5.png);
    }
    50% {
        background-image: url(https://www.transparentpng.com/thumb/apartment/apartment-free-transparent-png-22.png);
    }
    75%{
        background-image: url(https://www.transparentpng.com/thumb/apartment/apartment-free-transparent-png-22.png);
    }
    100%{
        background-image: url(https://www.freepnglogos.com/uploads/house-png/house-png-home-page-jaymanm-5.png)
    }
}


.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.about-part1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.about-part1 h1 {
    color: #f3c68c;
    font-size: 50px;
    text-align: center;
}

.about-part1 p {
    text-align: center;
    color: #f3c68c;
    font-size: 20px;
}

.about-part2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-part2-filler {
    content: '';
    background-image: url(../public/logo.png);
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
