.manage-agents-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.manage-agents-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(36,36,36);
    color: #f3c68c;
    padding: 10px;
    box-shadow: 0px 2px 3px rgba(36, 36, 36, 0.479);
    border-radius: 10px;
}

.manage-agents-nav h1 {
    padding-left: 20px;
}

.manage-agents-content {
    background-color: rgba(36, 36, 36, 0.8);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 55px;
    gap: 3px;
    overflow-y: auto;
    position: relative;
}

.manage-agents-content-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(36,36,36);
    color: #f3c68c;
    box-shadow: 0px 2px 6px black;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
}

.manage-agents-content-table h1 {
    width: 16%;
    font-size: 15px;
}

.manage-agents-row {
    display: flex;
    flex-direction: row;
    color: #f3c68c;
    width: 100%;
    padding-left: 10px;
    background-color: rgb(36,36,36);
    align-items: center;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.manage-agents-row:hover {
    background: linear-gradient(to left, rgb(36,36,36), rgba(36, 36, 36, 0.7));
}

.agent-profilepicture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.manage-agents-row-line {
    width: 16%;
    font-size: 15px;
    align-self: center;
    font-size: 15px;
}


.agent-button {
    background-color: #f3c68c;
    border-style: none;
    padding: 5px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(36,36,36);
    font-size: 15px;
}

.agent-button:hover {
    background-color: #fce2c0;
}

.manage-agents-button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
    flex-grow: 1;
}
