
.posting-card {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     gap: 10px;
     align-items: center;
     position: relative;
     color: #f3c68c;
     border-style: none;
     border-radius: 10px;
}

.posting-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(36,36,36);
    color: #f3c68c;
    padding: 10px;
    box-shadow: 0px 2px 3px rgba(36, 36, 36, 0.479);
    border-radius: 10px;
}

.posting-nav h1{
    color: #f3c68c;
    padding-left: 20px;
}

.posting-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 1);
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(36, 36, 36, 0.479);
}




.posting-input {
    display: flex;
    align-items: center;
    width: 350px;
    height: 40px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgb(36,36,36);
    background: #f3c68c;
    border-width: 1px;
    border-radius: 3px;
    color: #f3c68c;
}

.posting-file {
    position: relative;
    width: 350px;
    height: 50px;
    z-index: 3;
    border-radius: 3px;
}

.posting-file::after{
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'select photos';
    color: #f3c68c;
    z-index: 4;
    border-radius: 3px;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.posting-button {
    width: 350px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    border-color: none;
    background-color: black;
    color: #f3c68c;
    transition: 0.1s ease-in-out;
}

.posting-button:hover {
    background-color: rgb(14, 14, 14);
    cursor: pointer;
}




#image {
    width: 50px;
}

.posting-card :is(input){
    color: rgb(36,36,36);
}

.posting-card :is(input)::placeholder{
    color: rgb(36,36,36);
}

.posting-card :is(label) {
    color: #f3c68c;
    text-align: center;
    display: inline-block;
}

.logout-button {
    width: 250px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    border-color: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: #f3c68c;
    z-index: 3;
}

.logout-button:hover{
    background-color: #fce2c0;
    cursor: pointer;
}

.logo-div-posting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-div-posting img {
    height: 40px;
}

.logo-div-posting h1 {
    font-size: 20px;
    color: #f3c68c;
}

.unscalable-textarea {
    resize: none;
    background-color: #f3c68c;
    border-width: 1px;
    border-color: rgb(36,36,36);
    border-radius: 3px;
    padding: 5px;
    width: 350px;
    font-size: 18px;
}

.unscalable-textarea::placeholder{
    color: rgb(36,36,36);
}