@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Raleway';
}

.posting-body {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.wallpapersafari.com/36/80/EKWszP.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    flex-direction: column;
    gap: 20px;
}

.posting-body::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    backdrop-filter: blur(2px);
    z-index: 2;
}

.posting-card {
     display: flex;
     flex-direction: column;
     height: 700px;
     width: 700px;
     border-radius: 25px;
     border-style: solid;
     border-width: 0px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
     justify-content: space-evenly;
     align-items: center;
     background-color: rgb(36, 36, 36);
     z-index: 6;
}

.posting-label {
    display: flex;
    align-items: center;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-style: none;
    position: relative;
}



.posting-input {
    display: flex;
    align-items: center;
    width: 550px;
    height: 30px;
    padding-left: 10px;
    border-style: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: #f3c68c;
    color: black;
}

.posting-file {
    position: relative;
    width: 250px;
    height: 50px;
    z-index: 3;
}

.posting-file::after{
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'select photos';
    color: black;
    z-index: 4;
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    background-color: #f3c68c;
    width: 100%;
    height: 100%;
    
}

.posting-file:hover::after {
    background-color: #fce2c0;
    box-shadow: 0px 0px 5px #fce2c0;
    cursor: pointer;
}

.posting-button {
    width: 250px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    border-color: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: #f3c68c;
    transition: 0.1s ease-in-out;
}

.posting-button:hover {
    background-color: rgb(5, 5, 5);
    cursor: pointer;
}




#image {
    width: 50px;
}

.posting-card :is(input){
    color: black;
}

.posting-card :is(label) {
    color: #f3c68c;
    text-align: center;
    display: inline-block;
}

.logout-button {
    width: 250px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    border-color: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: #f3c68c;
    z-index: 3;
}

.logout-button:hover{
    background-color: #fce2c0;
    cursor: pointer;
}

.logo-div-posting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-div-posting img {
    height: 40px;
}

.logo-div-posting h1 {
    font-size: 20px;
    color: #f3c68c;
}
