.profile-settings-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.profile-settings-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: rgb(36,36,36);
    color: #f3c68c;
    padding: 10px;
    box-shadow: 0px 2px 3px rgba(36, 36, 36, 0.479);
    border-radius: 10px;
}

.profile-settings-nav h1 {
    padding-left: 20px;
}

.profile-settings-content {
    background-color: rgba(36, 36, 36, 0.8);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    position: relative;
    padding: 10px;
}

.profile-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgb(36,36,36);
    border-radius: 10px;
    color: #f3c68c;
}

.profile-box-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    width: 200px;
}

.profile {
    padding: 20px;
    background: rgb(36,36,36);
    border-radius: 10px;
    width: 100%;
    color: #f3c68c;
    box-shadow: 0px 2px 3px rgb(36,36,36);
    font-size: 15px;
    cursor: pointer;
}

.profile-box-photo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #f3c68c;
    border-style: solid;
    box-shadow: 0px 0px 15px #f3c68c;
}

.profile-box-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-box-details :is(div) {
    font-size: 20px;
}

.hidden-profile-settings {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.8);
    color: #f3c68c;
    display: none;
}

.password-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(36,36,36);
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    gap: 20px;
    width: 500px;
    height: 500px;
}

.password-changer :is(input) {
    background-color: #f3c68c;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    padding-left: 10px;
    height: 40px;
}

.password-changer h1 {
    font-size: larger;
}

.password-changer p {
    font-size: smaller;
}

.password-changer button {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    color: #f3c68c;
    cursor: pointer;
}

.password-changer button:hover{
    background-color: rgb(12, 12, 12);
}