.protected-route-body {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.wallpapersafari.com/36/80/EKWszP.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    flex-direction: column;
    gap: 20px;
    cursor: not-allowed;
}

.protected-route-body::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    backdrop-filter: blur(2px);
    z-index: 2;
}

.not-authorized {
     display: flex;
     padding: 35px;
     justify-content: center;
     flex-direction: column;
     border-radius: 20px;
     border-style: none;
     gap: 50px;
     background-color: rgb(36, 36, 36);
     box-shadow: 0px 0px 15px black;
     border-width: 1px;
     text-align: center;
     z-index: 999;
     color: #f3c68c;
}

.not-authorized button {
    border-radius: 3px;
    border-style: none;
    border-color: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: #f3c68c;
    transition: 0.1s ease-in-out;
    padding: 5px;
}

.not-authorized button:hover {
    background-color: rgb(5, 5, 5);
    cursor: pointer;
}