* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.register-and-login-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    gap: 10px;
}

.login-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    box-shadow: 0px 0px 20px black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    gap: 10px;
}

.already-tab { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profilepicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.521);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349);
}

#username-input {
    text-transform: none;
}

#password-input {
    text-transform: none;
}